# Ignorar node_modules e dependências
node_modules/
package-lock.json

# Ignorar arquivos de log
*.log
npm-debug.log*

# Ignorar arquivos de build temporários
dist/
build/

# Ignorar configurações locais
.env
.vscode/
.railway/

# Ignorar cache e sessão
.wwebjs_auth/
.wwebjs_cache/
session.json

# Ignorar QR code gerado
/public/qr.png
