# Ignora dependências
node_modules/
npm-debug.log
yarn-error.log

# Ignora configurações locais e de ambiente
.env
*.env
*.local
*.log

# Ignora arquivos do WhatsApp Web.js (sessão, cache, etc)
.wwebjs_auth/
.wwebjs_cache/

# Ignora imagem gerada do QR code
/public/qr.png

# Ignora pasta de build (caso use futuramente)
dist/
build/

# Ignora arquivos do sistema
.DS_Store
Thumbs.db
