# 📦 Node.js dependencies
node_modules/

# 🔐 Arquivos de sessão do WhatsApp (NÃO subir)
.wwebjs_auth/
.wwebjs_cache/
session.json

# 📷 QR Code gerado
public/qr.png

# 🪵 Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 💻 Arquivos do sistema operacional
.DS_Store
Thumbs.db

# 🧪 Arquivos de teste e coverage
coverage/
dist/
build/

# 🧪 Ambientes
.env
.env.local
.env.*.local

# 💻 Configurações de editores/IDEs
.vscode/
.idea/
*.swp
*.swo

# 🚂 Railway ou Render configs locais
.railway/
